{%  extends 'base.html.twig' %}
{% block title %}
    SELECT PART
{% endblock %}
{% block body %}
   {{ include('includes/navbar.html.twig') }}
   <br>
   <br>
   <br>
   <h5> <a href="{{ url('manufacturers') }}">Back to manufacturers</a></h5>
   <br>
   <br>
    <div align="center">
        <table align="center" border="1">
            <tr>
                <th width="150" align="center">Name</th>
                <th width="150" align="center">Manufacturer</th>
                <th width="150" align="center">Description</th>
                <th width="150" align="center">Price</th>
                <th width="150" align="center">Image</th>
            </tr>
            <tr>
                <td width="150" align="center">{{ part.name|capitalize }}</td>
                <td width="150" align="center">{{ part.manufacturer.name|capitalize }}</td>
                <td width="150" align="center">{{ part.description|capitalize }}</td>
                <td width="150" align="center">{{ part.price|capitalize }}</td>
                <td width="150" align="center"><img src="../../images/{{part.image }}" height="100" width="150"></td>
            </tr>
        </table>
        <br>
        {{ form_start(formCart) }}
        {{ form_widget(formCart) }}
        {{ form_end(formCart) }}

    </div>
    {{ include('includes/footer.html.twig') }}


{% endblock %}