{% extends 'base.html.twig' %}
{% block title %}
    Cart items
{% endblock %}
{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    <div style="margin-left: 10px">
    <h5> The command was successfully registered </h5>
    <br>
    The parts added are the following:
    <ul id="navigation">
        {% if array.message is defined %}
            <h3 style="color: red">{{ message }}</h3>
        {% else %}
            {% for orderItem in order.OrderItems %}
                <li>You bought {{ orderItem.part.name }}.. X ..{{ orderItem.price }} lei---- {{ orderItem.quantity }} -
                    pieces
                </li>

            {% endfor %}
        {% endif %}

    </ul>
    <h6 style="color: red">Total amount: {{ order.cart.totalPrice }} USD</h6>
    <h5> Formular de livrare </h5>
    </div>
    <div style="margin-left: 20px">
        <table>
            <tr>
                <th>
                    First name:
                </th>
                <td style="width: 500px" height="50">
                    {{ delivery.name }}
                </td>

            </tr>
            <tr>
                <th>
                    Last name:
                </th>
                <td style="width: 500px" height="50">
                    {{ delivery.surname }}
                </td>
            </tr>
            <tr>
                <th>
                    Address:
                </th>
                <td style="width: 500px" height="50">
                    {{ delivery.address }}
                </td>
            </tr>
            <tr>
                <th>
                    Phone number:
                </th>
                <td style="width: 500px" height="50">
                    {{ delivery.telephone }}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>

                    <form action="{{ url('showInvoice',{ "orderId":order.id, "action":"I"}) }}">
                        <input name="viewInvoice" type="submit" value="Preview invoice" >
                    </form>
                </td>
                <td>
                    <form action="{{ url('showInvoice',{ "orderId":order.id, "action":"D"}) }}">
                        <input name="viewInvoice" type="submit" value="Download invoice" >
                    </form>
                </td>
            </tr>
        </table>

        <h6><a href="{{ url('manufacturers') }}">Back to manufacturers</a></h6>
        {{ include('includes/footer.html.twig') }}
    </div>

{% endblock %}

