<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}AUTO AMARA SHOP INVOICE{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" >
   <table width="100%" style="font-size: 90%">
       <tr>
           <td>{% block logo %}{% endblock %}</td>
           <td>{% block invoice_details %}{% endblock %}</td>

       </tr>
       <tr>
           <td>{% block company_details %}{% endblock %}</td>
           <td>{% block buyer_details %}{% endblock %}</td>
       </tr>
   </table>

    <br>
    <br>
    <table width="100%" style="font-size: 100%">
        <tr style="font-size: 100%">
            <th style="border: solid black">
                <h6 align="center">Nr.<br>Crt.<br><br>0</h6>
            </th>
            <th style="border: solid black">
                <h6 align="center">Denumirea produselor sau a serviciilor<br>1</h6>
            </th>
            <th style="border: solid black">
                <h6 align="center">U.M.<br><br><br>2</h6>
            </th>
            <th style="border: solid black">
                <h6 align="center">Cantitate<br><br><br>3</h6>
            </th>
            <th style="border: solid black">
                <h6 align="center">Pret unitar<br>(fara T.V.A.)<br>-lei-<br>4</h6>
            </th>
            <th style="border: solid black">
                <h6 align="center">Cota<br>T.V.A.<br>-%-<br>5</h6>
            </th>
            <th style="border: solid black">
                <h6 align="center">Valoarea<br>-lei-<br><br>6(3x4)</h6>
            </th>
            <th style="border: solid black">
                <h6 align="center">Valoarea<br>T.V.A.<br>-lei-<br>7(6x5)</h6>
            </th>
        </tr>
        {% block invoice_items %}{% endblock %}
        <tr>
            <td colspan="8"><br></td>
        </tr>
        <tr>
        <td colspan="8" align="left">Conform art. 319 alin. (29) din Legea nr. 227/2015 privind Codul Fiscal, factura este valabila fara semnatura si stampila
            Plata numerar ramburs, Plata numerar cu bon fiscal/chitanta</td>
        </tr>
    </table>
    <table border="1" width="100%" style="font-size: 80%">
        <tr>
            <td align="center" style="width: 15%" >Semnatura si <br> stampila <br> furnizorului</td>
            <td align="center" style="width:30%">Date privind expeditia .....................................<br>
                Numele delegatului .........................................<br>
                B.I./C.I. seria .... nr........... eliberat(a) ..............<br>
                Mijlocul de transport ............. nr. ....................<br>
                Expedierea s-a efectuat in prezenta noastra la<br>
                data de ........................... ora ....................<br>
                Semnaturile ........................................................
            </td>
            <td style="width: 55%">
            <table border="1" width="100%" >
                <tr>
            <td style="width: 20%; text-align: center" >
                Total<br>
                din care<br>
                accize:
            </td>
            <td style="width: 80%; text-align: left" >
            {% block price_details %}{% endblock %}
            </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        Semnatura<br>
                        de<br>
                        primire
                    </td>
                    <td style="text-align: center">
                        Total de plata (col 6+col 7)
                        <h3 align="center">{% block total_price %}{% endblock %}</h3>
                    </td>
                </tr>
            </table>
            </td>
        </tr>
    </table>

</div>
{% block javascripts %}{% endblock %}

</body>
</html>