{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    {% if userLogIn != 'IsNotSet' %}
        <h5>Welcome {{ userLogIn }} ---> <a href="{{ url('cartItems') }}">  Check cart </a></h5>

    {% endif %}
    <h5 style="color:darkcyan;">Choose a manufacturer</h5>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ include('includes/footer.html.twig') }}
{% endblock %}
