{% extends 'base.html.twig' %}

{% block body %}

    <h1>Manufacturer {{ manufacturer.name }}</h1>
    {% for key, model in manufacturer.models %}
        <p>
            <a href="{{ path('model', {'id': model.id}) }}">
                {{ model.name }}
            </a>
        </p>
    {% endfor %}
    <p></p>
{% endblock %}
