{%  extends 'base.html.twig' %}
{% block title %}
    SELECT MODEL
{% endblock %}
{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    <h4>Models for manufacturer {{ manufacturer.name }} are the following:</h4>
    <h5><a href="{{ url('manufacturers') }}">~~Back~~</a></h5>
    <ul id="navigation">
        {% for model in models %}
            <li><a href="{{ url('model',{"id":model.id}) }}">{{ model.name }}</li>
        {% endfor %}
    </ul>

    {{ include('includes/footer.html.twig') }}
{% endblock %}