{% extends 'base_invoice.html.twig' %}
{% set tva=19 %}

{% block invoice_details %}
    <p style="font-size: 80%">Invoice no. {{invoice.id}}</p>
    <p style="font-size: 80%">Series: AUT</p>
    <p style="font-size: 80%">Date: {{ "now"|date("m/d/Y") }}</p>
{% endblock %}
{% block company_details %}
    <h5>Factura</h5>
    <p style="font-size: 80%"><b>Provider:</b> SC AUTOMARKET SRL </p>
    <p style="font-size: 80%"><b>CIF:</b> RO1689653</p>
    <p style="font-size: 80%"><b>Bank account:</b> RI81INGB000099991856398</p>
    <p style="font-size: 80%"><b>Address:</b> Strada A.I. Cuza, Nr. 25, Craiova</p>
    <p style="font-size: 80%"><b>Phone number:</b> 0789653218</p>
{% endblock %}
{% block buyer_details %}
    <p style="font-size: 80%"><b>First name:</b> {{ invoice.order.delivery.surname }} </p>
    <p style="font-size: 80%"><b>Last name:</b> {{ invoice.order.delivery.name }} </p>
    <p style="font-size: 80%"><b>Address:</b> {{ invoice.order.delivery.address }} </p>
    <p style="font-size: 80%"><b>Phone number:</b> {{ invoice.order.delivery.telephone }} </p>
{% endblock %}
{% block invoice_items %}
    {% set i=0 %}
    <tr>
        <td></td>
    </tr>
    {% for orderItem in invoice.Order.OrderItems %}
        {% set i=i+1 %}
       <tr style="font-size: 80%">
            <td align="center">
                {{ i }}
            </td>
           <td align="center">
               {{ orderItem.part.name }}
           </td>
           <td align="center">
               buc
           </td>
           <td align="center">
               {{ orderItem.quantity }}
           </td>
           <td align="center">
               {{ orderItem.price }}
           </td>
           <td align="center">
               {{ tva }}
           </td>
           <td align="center">
               {{ orderItem.quantity * orderItem.price }}
           </td>
           <td align="center">
               {{ orderItem.quantity * orderItem.price *tva/100}}
           </td>
        </tr>

    {% endfor %}
        {% set j=1 %}
        {% for j in range(1,13-i) %}
            {% set j=j+1 %}
            <tr>
                <td colspan="8">
                    <br>
                </td>
            </tr>
        {% endfor %}
{% endblock %}
{% block price_details %}
    <table>
        <tr><td></td></tr>
        <tr align="center">
            <td style="width: 30%">
                <b>TOTAL</b>
            </td>
            <td style="width: 40%">
                Valoare:{{ invoice.order.cart.totalPrice }}
            </td>
            <td style="width: 30%">
                TVA: {{ invoice.order.cart.totalPrice*tva/100 }}
            </td>
        </tr>
    </table>
{% endblock %}
{% block total_price %}
    {{ invoice.order.cart.totalPrice*(1+tva/100) }}
{% endblock %}





