{%  extends 'base.html.twig' %}
{% block title %}
    Cart Items
{% endblock %}
{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    <h4>Cart items:</h4>
    <div align="center">
        <table width="800" border="1">
            <th style="text-align: center">Item name</th>
            <th style="text-align: center">Price per piece</th>
            <th style="text-align: center">Quantity</th>
            <th style="text-align: center">Value</th>
            <th style="text-align: center" width="200" colspan="2">Option</th>
            {% for cartitem in cart.CartItems %}
                <tr>
                    <td style="text-align: center" height="50">
                        {{ cartitem.part.name|capitalize}}
                    </td>
                    <td style="text-align: center" height="50" >
                        {{ cartitem.part.price }}
                    </td>
                    <td style="text-align: center" height="50">
                        {{ cartitem.quantity }}
                    </td>
                    <td style="text-align: center" height="50">
                        {{ cartitem.part.price * cartitem.quantity }}
                    </td>
                    <td style="text-align: center" height="50">
                        <form action="{{ url('updateQuantity',{'partId': cartitem.part.id }) }}" method="get">
                            <table>
                                <tr>
                                    <td>
                                        Cantitate
                                    </td>
                                    <td>
                                        <input name="quantity" value="{{ cartitem.quantity }}" type="number" min="1" step="1" max="100">
                                    </td>
                                    <td>
                                        <input name="update" type="submit" value="Update">
                                    </td>
                                </tr>
                            </table>

                        </form>
                    </td>
                    <td>
                        <form action="{{ url('deleteItem',{'partId': cartitem.part.id }) }}">
                            <input style="color:red;" name="delete" type="submit" value="X">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" style="text-align: center; background: #888888; color: red;" >
                    <b>TOTAL </b>
                </td>
                <td colspan="2" style="text-align: center; background: #888888; color: red" >
                    <b>{{ cart.TotalPrice }}</b>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <br>

    {% if cart.TotalPrice>0  and userLogIn !='IsNotSet' %}

    <div style="margin-left: 20px">
    <form action="{{ url('showOrder') }}" method="get">
        <table>
            <tr>
                <th>
                    First name
                </th>
                <td style="width: 500px" height="50">
                    <input name="name" type="text" value="First name" style="width: 100%; height:100%" >
                </td>
              
            </tr>
            <tr>
                <th>
                    Last name
                </th>
                <td style="width: 500px" height="50">
                    <input name="surname" type="text" value="Last name" style="width: 100%; height:100%" >
                </td>
            </tr>
            <tr>
                <th>
                    Address
                </th>
                <td style="width: 500px" height="50">
                    <input name="address" type="text" value="Address" style="width: 100%; height:100%" >
                </td>
            </tr>
            <tr>
                <th>
                    Phone
                </th>
                <td style="width: 500px" height="50">
                    <input name="telephone" type="text" value="07XXXXXXXX" style="width: 100%; height:100%" >
                </td>
            </tr>
        </table>
        <br>
        <input name="order" type="submit" value="Order">
    </form>
    </div>

    <div style="margin-left: 20px">
    {% elseif userLogIn =='IsNotSet' %}
            <h5 style="color: red">In order to purchase you need to be logged in</h5>
            <a href="{{ url('fos_user_security_login') }}">Go to login</a>
        <br>
    {% else %}
        <h3 style="color: red">You have no item in your cart</h3>
    {% endif %}
    <br>
    {% if cart.CartItems is empty %}
        <a href="{{ url('manufacturers') }}"><b>Back to manufacturer</b></a>
    {% else %}
        <a href="{{ url('parts') }}"><b>Back to parts</b></a>
    {% endif %}
    {{ include('includes/footer.html.twig') }}
    </div>
{% endblock %}

